html {
    height: 100%;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    font-family: 'kothFont';
}

@font-face {
    font-family: 'kothFont';
    src: url('../koth_font.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(../images/vaporwave_bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
}

#container {
    margin: 45px auto;
    width: 80%;
    height: 90%;
    background-color: #ffaa67;
    background-image: linear-gradient(to bottom right, #ffaa67, #ff2b76);
    border-radius: 25px;
    position: relative;
}

#titlePic {
    position: relative;
    left: 37%;
    width: 420px;
    height: 160px;
    margin-bottom: -25px;
}

#triviaTitle {
    position: relative;
    left: 47%;
    font-size: 50px;
}

#startBanner {
    width: 100%;
    height: 130px;
    background-color: antiquewhite;
    margin-top: 200px;
    margin-bottom: 100px;
}

#startButton {
    position: relative;
    background-color: #ff2b76;
    color: antiquewhite;
    font-family: 'kothFont';
    font-size: 70px;
    left: 45%;
    margin-top: 22px;
    border: none;
    border-radius: 15px;
}

#questionSection {
    margin-top: 50px;
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

#choicesSection {
    margin: 50px 30px;
    font-size: 50px;
    position: relative;
    left: 35%;
}

.choice:hover {
    opacity: 60%;
    cursor: pointer;
}

#wins {
    position: absolute;
    font-size: 50px;
    margin-left: 20px;
    bottom: 55px;
}

#losses {
    position: absolute;
    font-size: 50px;
    margin-left: 20px;
    bottom: 0;
}